{% set prefix = prefix + '/' if prefix %}
<h2 class="object-title">{{ object.title }}</h2>
<div class="content object">
    <div class="object-info">
        {% if text %}
        {% if text.part1 %}<p class="object-text">{{ text.part1 }}</p>{% endif %}
        {% if text.part2 %}
        <h4 class="object-text-title">Технология</h4>
        <p class="object-text">{{ text.part2|replace('//', '</p><p class="object-text">') }}</p>
        {% endif %}
        {% if not object.skip_text_part3 and text.part3 %}
        <h4 class="object-text-title">Рекомендации по уходу</h4>
        <p class="object-text">{{ text.part3|replace('//', '</p><p class="object-text">') }}</p>
        {% endif %}
        {% if text.parts %}
        {% for part in text.parts %}
        <h4 class="object-text-title">{{ part.title }}</h4>
        <p class="object-text">{{ part.text }}</p>
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
    <div class="object-cards">
        <div class="object-card-wrapper">
            <div class="object-card" style="background-image:url(/img/medium/{{ prefix }}{{ object.images.0 }})">
                <div class="object-card-zoom" style="background-image:url(/img/large/{{ prefix }}{{ object.images.0 }})"></div>
                {% include "svg/zoom.html" %}
            </div>
        </div>
        {% if content.code == 'milk' and content.slug != 'koshki' %}
        {% include "content/object.nav.html" %}
        {% endif %}
    </div>
    <div class="object-carousel">
        <div class="object-carousel-list">
            <div class="object-carousel-item">
                <img class="object-image" src="/img/large/{{ prefix }}{{ object.images.0 }}"/>
            </div>
        </div>
        <div class="object-carousel-nav">
            <button class="object-carousel-prev"><span class="carousel-nav-symbol">❮</span><span class="carousel-nav-help">Ctrl + {% include "svg/left.html" %}</span></button>
            <button class="object-carousel-next"><span class="carousel-nav-symbol">❯</span><span class="carousel-nav-help">Ctrl + {% include "svg/right.html" %}</span></button>
            <button class="object-carousel-close" title="Закрыть"><span class="carousel-close-symbol">&times;</span><span class="carousel-close-help">Esc</span></button>
        </div>
    </div>
</div>
{% if content.code != 'milk' or content.slug == 'koshki' %}
{% include "content/object.nav.html" %}
{% endif %}
