    <div class="header">
        <h1 class="site-header">{{ config.title }}</h1>
        <nav class="site-nav">
            <ul class="site-nav-list">
                <li class="site-nav-list-item {% if mainpage %}selected{% endif %}"><a class="site-nav-link" href="/">Начало</a></li>
                <li class="site-nav-list-item {% if content and content.url.startswith('/ash/') %}selected{% endif %}"><a class="site-nav-link" href="/ash/">Зольный обжиг</a></li>
                <li class="site-nav-list-item {% if content and content.url.startswith('/reconstructive/') %}selected{% endif %}"><a class="site-nav-link" href="/reconstructive/">Восстановительный обжиг</a></li>
                <li class="site-nav-list-item {% if content and content.url.startswith('/milk/') %}selected{% endif %}"><a class="site-nav-link" href="/milk/">Молочный обжиг</a></li>
                <li class="site-nav-list-item {% if content and content.url.startswith('/util/') %}selected{% endif %}"><a class="site-nav-link" href="/util/">Утильный обжиг</a></li>
                <li class="site-nav-list-item {% if content and content.url.startswith('/souvenirs/') %}selected{% endif %}"><a class="site-nav-link" href="/souvenirs/">Сувениры</a></li>
                <li class="site-nav-list-item {% if content and content.url.startswith('/contacts/') %}selected{% endif %}"><a class="site-nav-link" href="/contacts/">Контакты</a></li>
            </ul>
        </nav>
    </div>
