{% extends "base.html" %}

{% block title %}Известный керамист Pietro Elia Maddalena в гостях у ТолшА Керамика | События | {{ config.title }}{% endblock %}

{% block content %}
<div class="content">
    <h2 class="content-title">
        Известный керамист Pietro Elia Maddalena в гостях у ТолшА Керамика.<br>
        Приглашаем на семинары (workshops) с его участием.
    </h2>
    <div class="event-info">
        <img src="/img/misc/workshop.jpg" class="event-info-image">
        <p><strong>Пьетро Элия Маддалена (Pietro Elia Maddalena)</strong> обучался керамике
            в Западном Суррейском Колледже искусств и дизайна в Англии. После еще двух
            лет работы в мастерской <strong>Dartington</strong> он возвратился в Италию,
            где в 1980 г. основал студию и открыл <strong>La Meridiana</strong>,
            Международную Школу Керамики в Тоскане.
        </p>
        <blockquote class="event-info-quote">
            <p>Я полностью и непрерывно интересуюсь процессом создания.
                Я рассматриваю объект ремесла как проекцию человеческого духа и культуры,
                где он взращивался. В уточняющем понимании, материал и процесс,
                моя конечная цель - выражение красоты через сложные и чувственные формы.
            </p>
        </blockquote>
        <p>Десятидневный семинар посвящен, главным образом, пониманию основ и практике
            работы на гончарном круге. Отобранные работы будут декорированы, глазурованы
            и обожжены в технике содового глазурования. Семинар будет состоять из шести
            дней интенсивной работы за гончарным кругом с перерывом на отдых на один день.
            Затем будет глазурование, загрузка печи и обжиг в печи для содового обжига.
            Последний день будет состоять из короткой лекции с введением в керамическую
            науку, сопровождаемую открытием печи и оценкой работы. Затем прощание.
        </p>
        <p>За гончарным кругом мы приблизимся к фундаментальным методам создания формы.
            Попрактикуемся в различных методах работы с глиной, от подготовки до
            придания формы и завершения процессов, что будет полезным для всех.
            Мы начнем с цилиндров, затем сделаем миски, кувшины и кружки.
            Программа будет завершена демонстрированием различных методов обточки,
            приклеивания ручек и носиков.
        </p>
        <p>Мы будем использовать керамическую массу, подготовленную в Керамическом Центре
            ТолшА, и проводить обжиг в восстановительной среде при температуре
            1280 &mdash; 1300 градусов.
        </p>
        <p class="text-center">Приглашаем на семинары с участием <strong>Пьетро Элия Маддалена</strong>!
        </p>
        <p class="margin-bottom-zero"><strong>Даты проведения семинаров:</strong>
        </p>
        <ul class="margin-top-zero">
            <li>с 26 мая по 5 июня 2019 г. <a href="/events/pietro-elia-maddalena-workshop/schedule-may-2019/">программа</a></li>
            <li>с 28 июля по 7 августа 2019 г. <a href="/events/pietro-elia-maddalena-workshop/schedule-july-2019/">программа</a></li>
        </ul>
        <p class="margin-bottom-zero"><strong>Место проведения семинаров:</strong>
            д. Толша Ясногорский район Тульская обл., 120 км от Москвы
        </p>
    </div>
</div>
{% endblock %}


