{% extends "base.html" %}

{% block title %}Программа семинара с участием Pietro Elia Maddalena в период с 28 июля по 7 августа | События | {{ config.title }}{% endblock %}

{% block content %}
<div class="content">
    <h2 class="content-title">
        Программа семинара с участием Pietro Elia Maddalena.<br>
        Период проведения &mdash; с 28 июля по 7 августа.
    </h2>
    <h3 class="text-center text-underline">WORKSHOP CLAY & SODA</h3>
    <table class="workshop-schedule">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Занятия</th>
                <th>Примечания</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>28 июля<br>Воскресенье</strong></td>
                <td><strong>Заезд и размещение студентов в Эко-отеле &laquo;Ясно Поле&raquo;.</strong></td>
                <td><strong>Приветственный ужин с Тосканским вином.<br>Знакомство.</strong></td>
            </tr>
            <tr>
                <td>29 июля<br>Понедельник</td>
                <td>Введение в workshop.<br>Подготовка глины.<br>Центрование и выкручивание цилиндров.<br>Работа за гончарным кругом.</td>
                <td></td>
            </tr>
            <tr>
                <td>30 июля<br>Вторник</td>
                <td>Цилиндры и производные формы.<br>Вазы.<br>Работа за гончарным кругом.</td>
                <td>Лекция &laquo;Зарубежные керамисты. Язык керамики&raquo;.</td>
            </tr>
            <tr>
                <td>31 июля<br>Среда</td>
                <td>Чашки и тарелки.<br>Работа за гончарным кругом.</td>
                <td></td>
            </tr>
            <tr>
                <td>1 августа<br>Четверг</td>
                <td>Обточка. Крышки, ручки, носики.<br>Работа за гончарным кругом.</td>
                <td></td>
            </tr>
            <tr>
                <td>2 августа<br>Пятница</td>
                <td>Продолжение работы за гончарным кругом.<br>Отработка пройденного материала.</td>
                <td></td>
            </tr>
            <tr>
                <td>3 августа<br>Суббота</td>
                <td>Завершение всех работ.<br>Загрузка на бисквитный обжиг.</td>
                <td>Слайд-шоу &laquo;История керамики&raquo;.</td>
            </tr>
            <tr>
                <td><strong>4 августа<br>Воскресенье</strong></td>
                <td><strong>Свободный день.</strong><br><strong>Бисквитный обжиг.</strong></td>
                <td><strong>По желанию, экскурсия в Ясную Поляну<br>(дом-музей Л.Толстого) с обедом
                        или <br>обзорная экскурсия в город Кашира <br>на р.Оке с посещением Белопесоцкого монастыря.</strong></td>
            </tr>
            <tr>
                <td>5 августа<br>Понедельник</td>
                <td>Глазурование. Основная загрузка печи.<br>Возможные варианты.</td>
                <td></td>
            </tr>
            <tr>
                <td>6 августа<br>Вторник</td>
                <td>Содовый обжиг.<br>Введение в глазурование.</td>
                <td>Лекция по глазурям (введение).<br> Слайд-шоу &laquo;La Meridiana&raquo;.<br>Печная Вечеринка!</td>
            </tr>
            <tr>
                <td>7 августа<br>Среда</td>
                <td>Открывание печи. Обсуждение.<br>Прощальное чаепитие.</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li><small><em>стоимость курса 500 Euro с человека</em></small></li>
        <li><small><em>проживание в отеле оплачивается отдельно &mdash; 1375 рублей/ночь с человека</em></small></li>
        <li><small><em>экскурсии оплачиваются на месте</em></small></li>
    </ul>
</div>
{% endblock %}

